@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;700&display=swap');

body {
    margin:0;
    font-family: 'Karla', sans-serif;
}


main {
    background-color: #0B2434;
    width:100vw;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rollinfo {
    position:absolute;
    display: flex;
    width: 80vw;
    justify-content: space-between;
    top:0px;
    /* padding: 0px 3vw 0px 3vw; */
}

.rollinfo > div {
    text-align: center;
    color: white;
}

.game {
    background-color: #F5F5F5;
    width: 80vw;
    height: 80vh;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* position: relative; */
}

.game > h1 {
    font-size: 45px;
    margin-bottom: 10px;
    margin-top:5px;
    color:#2B283A;
}

.game > p {
    width: 40vw;
    color: #4A4E74;
}

.die {
    width: min(8vw, 85px);
    height: min(8vw, 85px);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.51);
    border-radius: 3px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: min(7vw, 36px);
    background-color: white;
}

.die.held {
    background-color: #59E391;
}

.dieholder {
    width: min(75vw, 600px);
    height: min(75vh, 220px);
    display:grid;
    justify-content: center;
    align-content: center;
    grid-template:  min(8vw, 85px)  min(8vw, 85px) / repeat(5,  min(8vw, 85px));
    gap: 25px;
}

.rolldice {
    background-color: #5035FF;
    color:white;
    font-size: min(7vw, 36px);
    padding: min(3vw, 16px);
    border-radius: 4px;
    margin-top: min(12vw, 30px);
    margin-bottom: 5px;
}

.rolldice:active {
    box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

.die:hover, .rolldice:hover {
    cursor: pointer;
}

.win {
    position: absolute;
    top:5px;
    margin-top:0px;
}